@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    overflow-x: hidden;
    font-family: 'Baloo Bhai', cursive;
}


header {
    background-image: url(../Images/main-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


.main-nav {
    float: right;
    margin-top: 60px;
    margin-right: 40px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.main-nav li a {
    padding: 5px 0;
    color: skyblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}

.main-nav li a:hover {
    border-bottom: 2px solid red;
}

.clearfix:after {
    content: ",";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.main-page-header {
    width: 1180px;
    position: absolute;
    /*    border: 1px solid red;*/
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    width: 80%;
    margin: auto;
}

h1 {
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full {
    background-color: transparent;
    color: beige;
    margin-right: 15px;
    border: 3px solid mediumslateblue;
}

.btn-full:hover {
    background-color: red;
}

/*
.btn-nav{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
*/

.colorchange {
    animation: colorchangethapa 1.5s infinite;
}

@keyframes colorchangethapa {
    0% {
        color: beige;
    }

    25% {
        color: yellow;
    }

    50% {
        color: cornflowerblue;
    }
    
    75% {
        color: red;
    }

    100% {
        color: greenyellow;
    }
}

hr.line{
    width: 100%;
    border: 2px dashed red;
    border-radius: 5px;
}

.mobile-icon{
    display: none;
}

#cont{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.sub-para{
    font-size: 15px;
    margin: 10px;
    text-align: center;
    color: #8E90C4;
}

/*
.box {
    float: left;
    text-align: center;
    width: 33.3%;
    padding: 10px;
}
*/

.box img {
    height: 45%;
    width: 80%;
    margin-top: 20px;
    border: 8px solid #8E90C4;
}

table{
    width: 100%;
    text-align: center;
    border-color: #8E90C4;
    border-collapse: collapse;
    color: #8E90C4;
}

th{
    padding: 20px;
    font-size: 1.5rem;
    background-color: red;
}

td{
    padding: 20px;
    font-size: 18px;
    background-color: #101117;
}

#boxes {
    margin-top: 20px;
    padding: 100px 0px;
}

h2{
    text-shadow: 6px 1px 4px red, 0 0 45px lightblue;
}

.page-section1 h2.section-heading {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    text-shadow: 8px 1px 4px red, 0 0 45px lightblue;
}

.page-section2 h2.section-heading {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    text-shadow: 8px 1px 4px red, 0 0 45px darkblue;
}

.page-section3 h2.section-heading {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    text-shadow: 8px 1px 4px red, 0 0 45px lightblue;
}

.page-section1 {
    background-color: #0F2A76;
    overflow: auto;
    padding: 30px 10px 50px 10px;
}

.page-section2 {
    background-color: #8E90C4;
    padding: 30px 10px 50px 10px;
}

.page-section3 {
    background-color: #0F2A76;
    padding: 30px 10px 25px 10px;
}

p {
    line-height: 1.50;
}

.btn1 {
    padding: 0.3rem;
    border: 2px blue solid;
    display: inline-block;
    margin-left: 15px;
    border-radius: 50px;
    color: black;
    /*        background: #bf55ec;*/
    text-decoration: none;
    transition: background 1000ns ease;
    /*        font-weight: bold;*/
}

.fixImg {
    position: fixed;
    bottom: 90px;
    margin-left: 35px;
    background-color: dimgrey;
    padding: 5px;

}

.explanation {
    text-align: center;
    font-size: 17px;
    color: #8E90C4;
}

.explanation2 {
    text-align: center;
    font-size: 17px;
    color: #0F2A76;
}

h3.sub-heading {
    font-size: 25px;
    color: #ABB2B9;
    text-shadow: 6px 1px 4px black;
    text-decoration: underline;
}


/*///////product section////////*/

.gallery{
    text-align: center;
}

.gallery img {
    width: 200px;
    height: 170px;
    padding: 5px;
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

/*////////contact section////////*/

#cformdiv {
    width: 68%;
    float: left;
    color: #8E90C4;
}

.cmyform {
    padding: 20px;
}

.cmyform label {
    display: block;
}

.cmyform input[type="text"],
.cmyform input[type="number"],
.cmyform input[type="email"],
.cmyform textarea {
    padding: 5px;
    width: 90%;
}

.btn2 {
    padding: 0.4rem;
    border: 2px #bf55ec solid;
    display: inline-block;
    margin-top: 10px;
    color: #bf55ec;
    text-decoration: none;
    transition: background 1000ns ease;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

address a{
    color: #0F2A76;
}

address {
    display: block;
    color: #0F2A76;
    border: 3px solid black;
    padding: 10px;
    background-color: #ABB2B9;
    border-radius: 10px;
}

/*
#addressdiv {
    width: 30%;
    float: left;
    margin-top: 40px;
}
*/

#flx{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

footer {
    padding: 20px 20px;
    background-color: #101117;
    color: blueviolet;
    text-align: center;
}

.clear{
    clear: both;
}

/*///////// Responsive Queries ////////*/



/*
@media only screen and (max-width: 425px) {
    #cformdiv {
        width: auto;
    }

    #addressdiv {
        width: auto;
    }

    .cmyform input[type="text"],
    .cmyform input[type="number"],
    .cmyform input[type="email"],
    .cmyform textarea {
        width: auto;
    }

    .box {
        width: auto;
    }
}
*/


@media only screen and (max-width: 1180px) {
    .main-page-header {
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 998px) {
    h1 {
        font-size: 200%;
    }
}


@media only screen and (max-width: 768px) {
    
    .page-section1 {
    background-color: #0F2A76;
    overflow: auto;
    padding: 30px 10 45 10;
}
    
    #flx{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

    #cformdiv {
    width: 100%;
    float: none;
    text-align: center;
}
    address {
    text-align: center;
    color: #0F2A76;
    border: 3px solid black;
    padding: 10px;
    background-color: #ABB2B9;
    border-radius: 10px;
    font-size: 15px;
}
    address a{
    color: #0F2A76;
}
    #cont{
    display: flex;
    flex-direction: column;
    text-align: center;
}
    .box img {
    width: 70%;
    margin-top: 20px;
}
    h1{
    text-align: center;
}

    .btn-full {
    background-color: transparent;
    color: beige;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 2px solid blue;
}
    .fixImg {
    position: fixed;
    top: 80%;
    margin-left: 4px;
    background-color: dimgrey;
    padding: 3px;
    height: 28px;
    width: 28px;
}
    h2{
    text-align: center;
    }
    
    table{
    width: 100%;
    text-align: center;
}
    th{
    padding: 3px;
    font-size: 12px;
}
    td{
    padding: 3px;
    font-size: 12px;
}
    .main-nav{
    display: none;
}
    .mobile-icon{
    display: inline-block;
    color: #B8DBC7;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
    .main-nav li{
    display: block;
    margin-top: 10px;
}
    .main-nav{
    float: left;
}
    
    
}


@media only screen and (max-width: 1024px){
    address {
    text-align: center;
    color: #0F2A76;
    border: 3px solid black;
    padding: 10px;
    background-color: #ABB2B9;
    border-radius: 10px;
    font-size: 15px;
}
    .fixImg {
    position: fixed;
    bottom: 150px;
    margin-left: 4px;
    background-color: dimgrey;
    padding: 3px;
    height: 28px;
    width: 28px;
}
    iframe {
    margin-top: 15px;
}


}






